html, body {
    margin: 0;
    height: 100%;
}

.container {
    display: inline-block;
    height: 100%;
    width: 100%;
}

.nav {
    padding-top: 75%;
    opacity: 0;
}

.nav ul {
    list-style-type: none;
}

.nav ul p {
    text-align: left;
}

.nav-link:hover {
    cursor: pointer;
}

.bar1, .bar2, .bar3 {
    width: 35px;
    height: 2px;
    background-color: black;
    margin: 6px 0;
    margin-left: 10.5%;
    transition: 0.5s;
}

.bar1 {
  margin-top:30px;
}

.change .bar1 {
  -webkit-transform: rotate(-45deg) translate(-4.5px, 3px);
  transform: rotate(-45deg) translate(-4.5px, 3px);
}

.change .bar2 {opacity: 0;}

.change .bar3 {
  -webkit-transform: rotate(45deg) translate(-8px, -8px);
  transform: rotate(45deg) translate(-8px, -8px);
}

.menu-icon-container {
  margin-left: 20px;
  position: fixed;
  z-index: 3!important;
}

.social-media-icons {
    opacity: 1;
    display: inline-flex;
    justify-content: flex-start;
}

.social-media-icons a {
    text-decoration: none;
}
.social-media-icons img {
    filter: grayscale(99%);
    margin-left: 0!important;
    transition: 0.3s ease;
}
.social-media-icons img:hover {
    filter: grayscale(2%);
}

#nav {
  text-decoration: none;
  list-style: none;
  white-space: nowrap;
}

#github-icon {
    filter:invert(25%);
}

#github-icon:hover {
    filter:invert(0%);
}
.right {
    float: right;
    width: 100%;
}

.title {
    font-family: "Source Code Pro", monospace;
    font-size: 45px;
    text-transform: uppercase;
    font-weight: 300;
    text-align: center;
    margin-top: 8%;
}

.images, .page-titles {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 70%;
    margin-left: 15%;
    margin-right: 15%;
}

.images {
      height: 50%;
}

.images .card {
    width: 32%;

}

.images img{
    width: 100%;
    transition: all .2s ease-in;
    filter: grayscale(60%);
}

.images img:hover{
    filter: grayscale(2%);
}

.images p, .nav li {
    font-family: "Source Code Pro", monospace;
    font-size: 15px;
    text-transform: uppercase;
    font-weight: 400;
    text-align: center;
}

footer {
    width:20%;
    margin-left: 80%;
    font-family: "Source Code Pro", monospace;
    font-size: 12px;
    text-transform: uppercase;
    font-weight: 300;
    text-align: right;
    bottom:0;
    position: absolute;

}
/* The side navigation menu */
.sidenav {
  height: 100%; /* 100% Full-height */
  width: 0; /* 0 width - change this with JavaScript */
  position: fixed; /* Stay in place */
  z-index: 1; /* Stay on top */
  top: 0;
  left: 0;
  background-color: #12; /* Black*/
  overflow-x: hidden; /* Disable horizontal scroll */
  padding-top: 60px; /* Place content 60px from the top */
  transition: 0.5s; /* 0.5 second transition effect to slide in the sidenav */
  color: black;
  border-right: 1px solid black;
  font-family: "Source Code Pro", monospace;
  font-weight: 200;
  font-size: 25px;
  text-transform: uppercase;
}

/* The navigation menu links */
.sidenav a {
  padding: 8px 8px 8px 32px;
  text-decoration: none;
  font-size: 25px;
  color: #818181;
  display: block;
  transition: 0.3s;
}

/* When you mouse over the navigation links, change their color */
.sidenav a:hover {
  color: #f1f1f1;
}
